{% INCLUDECSS '@jauntym_messenger/messenger.css' %}
{% INCLUDEJS '@jauntym_messenger/messenger.js' %}
{% INCLUDE 'overall_header.html' %}

<a id="jauntym-anchor"></a>
<div class="jauntym-mess" id="jauntym-mess"
	data-ajax="{{ JAUNTYM_AJAX_URL }}" data-token="{{ JAUNTYM_TOKEN }}" data-me="{{ JAUNTYM_CUR_USER_ID }}"
	data-poll="{{ JAUNTYM_POLL_MS }}" data-maxlen="{{ JAUNTYM_MAXLEN }}" data-minsearch="{{ JAUNTYM_MINSEARCH }}" data-typing="{{ JAUNTYM_TYPING_ON }}" data-sid="{{ JAUNTYM_SID }}"
	data-l-seen="{{ lang('JAUNTYM_M_SEEN') }}" data-l-sent="{{ lang('JAUNTYM_M_SENT') }}" data-l-online="{{ lang('JAUNTYM_M_ONLINE') }}"
	data-l-none="{{ lang('JAUNTYM_M_NO_CONVERSATIONS') }}" data-l-empty="{{ lang('JAUNTYM_M_EMPTY_THREAD') }}" data-l-older="{{ lang('JAUNTYM_M_LOAD_OLDER') }}"
	data-l-people="{{ lang('JAUNTYM_M_SEARCH_PEOPLE') }}" data-l-typing="{{ lang('JAUNTYM_M_TYPING') }}" data-l-menu="{{ lang('JAUNTYM_M_MENU') }}"
	data-l-block="{{ lang('JAUNTYM_M_BLOCK') }}" data-l-unblock="{{ lang('JAUNTYM_M_UNBLOCK') }}" data-l-hide="{{ lang('JAUNTYM_M_HIDE_CONV') }}"
	data-l-cdel="{{ lang('JAUNTYM_M_CONFIRM_DELETE') }}" data-l-cblock="{{ lang('JAUNTYM_M_CONFIRM_BLOCK') }}" data-l-del="{{ lang('JAUNTYM_M_DELETE') }}"
	data-l-you="{{ lang('JAUNTYM_M_YOU') }}" data-l-generic="{{ lang('JAUNTYM_M_ERR_GENERIC') }}">

	<div class="jauntym-side">
		<div class="jauntym-side-top">
			<h3>{{ lang('JAUNTYM_MESSENGER') }}</h3>
			{% if S_JAUNTYM_CAN_DM %}<button type="button" class="jauntym-newbtn" id="jauntym-new"><i class="icon fa-pencil-square-o" aria-hidden="true"></i> {{ lang('JAUNTYM_M_NEW_MESSAGE') }}</button>{% endif %}
		</div>
		<div class="jauntym-search">
			<input type="text" id="jauntym-search-conv" placeholder="{{ lang('JAUNTYM_M_SEARCH_CONVERSATIONS') }}" autocomplete="off">
		</div>
		<div class="jauntym-convlist" id="jauntym-convlist"></div>
	</div>

	<div class="jauntym-main" id="jauntym-main">
		<div class="jauntym-empty" id="jauntym-placeholder">{{ lang('JAUNTYM_M_PICK_CONVERSATION') }}</div>
		<div class="jauntym-hidden" id="jauntym-pane" style="flex:1;display:flex;flex-direction:column;min-height:0;">
			<div class="jauntym-head" id="jauntym-head"></div>
			<div class="jauntym-thread" id="jauntym-thread"></div>
			{% if S_JAUNTYM_CAN_DM %}			<div class="jauntym-compose">
				<textarea id="jauntym-input" rows="1" placeholder="{{ lang('JAUNTYM_M_TYPE_MESSAGE') }}" maxlength="{{ JAUNTYM_MAXLEN }}"></textarea>
				<button type="button" class="jauntym-sendbtn" id="jauntym-send" aria-label="{{ lang('JAUNTYM_M_SEND') }}"><i class="icon fa-paper-plane" aria-hidden="true"></i></button>
			</div>{% endif %}
		</div>
	</div>
</div>

{% INCLUDE 'overall_footer.html' %}
